
.graphFlexContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
    height: 100%;

    border: 1px solid #ccc;
    padding: 1rem 0.25rem;
}

.labels {
    border: 1px solid #ccc;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
}
