.newSparqlEditor {
    // border: 1px solid red;
    position: relative;

    &.focused:not(.disabled) {
        :global {
            .mdc-notched-outline__leading,
            .mdc-notched-outline__notch,
            .mdc-notched-outline__trailing {
                border-color: #3F51B5; // fallback
                border-color: var(--mdc-theme-primary);
                border-width: 2px;
            }
        }
    }

    .codeMirror {
        max-width: calc(100vw - 3rem);
    }

    &.disabled {
        background-color: rgba(0, 0, 0, 0.025);

        :global {
            .mdc-notched-outline__leading,
            .mdc-notched-outline__notch,
            .mdc-notched-outline__trailing {
                border-color: rgba(0, 0, 0, 0.1);
            }

            .CodeMirror-lines {
                opacity: 0.8;
                cursor: default !important;
            }

            .CodeMirror-cursors {
                visibility: hidden !important;
            }
        }
    }


    :global {
        .CodeMirror {
            height: auto;

            // style like material input
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-variant-caps: normal;
            line-height: 1.5rem;
            letter-spacing: 0.14992px; //0.00937em
            margin: 4px 0px 1px 0;
            padding: 0 12px 16px;

            background-color: transparent;

            span.cm-keyword,
            span.cm-builtin {
                font-weight: 400;
            }
        }


        .CodeMirror-wrap pre {
            word-break: break-word;
        }

        .CodeMirror-scroll {
            overflow: inherit !important;
        }

        // outline

        .mdc-notched-outline {
            top: 0;
        }

        .mdc-floating-label {
            left: 4px;
            right: initial;
        }

        .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
            transform: translateY(-130%) scale(0.75);
        }

        .mdc-notched-outline .mdc-notched-outline__leading {
            border-radius: 4px 0 0 4px;
        }

        .mdc-notched-outline .mdc-notched-outline__trailing {
            border-radius: 0 4px 4px 0;
        }

        //:not(.mdc-text-field--disabled)
        .mdc-floating-label {
            color: rgba(0, 0, 0, 0.6);
        }

        ///:not(.mdc-text-field--disabled)
        .mdc-notched-outline__leading,
        .mdc-notched-outline__notch,
        .mdc-notched-outline__trailing {
            border-color: rgba(0, 0, 0, 0.24);
        }
        .mdc-notched-outline__notch label{
            // margin-left: 10px;
            margin-right: -1.25rem;
        }
    }

}
